
 .heroContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: background-color 0.3s ease;
    margin: 10px;
  }
  
  .heroContainer.dark {
    background-color: #333;
    color: white;
  }
  
  .heroContainer img {
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .colorSpan {
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
    background-color: #e0e0e0;
    border-radius: 5px;
  }
  
  .dark .colorSpan {
    background-color: #444;
  }
   