 .lessonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-around;  
} 

 .card {
    width: 250px;
    height: 400px;
    background-color: rgb(240, 213, 213);
} 
.forceUsersGrid{
    display: flex;
    flex-wrap: wrap;
    background-color: #a5a2a2;
    justify-content: space-around; 
}